<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>fr.rsommerard.bsc</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/Romain/Lab/bsc/bsc.sh</string>
    </array>

    <key>StartInterval</key>
    <integer>3600</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/tmp/bsc.err</string>

    <key>StandardOutPath</key>
    <string>/tmp/bsc.out</string>
</dict>
</plist>
